# Core API
fastapi
uvicorn[standard]
python-dotenv

# LangChain dependencies
langchain
langchain-core
langchain-community
langchain-openai

# Search tool
tavily-python

# Evaluation Metrics
nltk
rouge-score
bert-score
pandas
tqdm
scikit-learn
torch
langchain-ollama
datasets
requests